.wrapper{
    width: 1200px;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    background-color: rgb(165, 165, 225);
    border: 2px solid black;
    font-size: 20px;
}

.head{
    display: flex;
}

.main_wrapper{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: rgb(156, 234, 193);
    border: 2px solid black;
}

.wrapper_footer{
    width: 1200px;
    display:flex;
    flex-direction: column;
    min-height: 100%;
   /* margin-top: 5px;*/
    margin: auto;
    background-color: rgb(255, 242, 0);
    border: 2px solid black;
}

.contacts{
    background-color: rgb(244, 149, 128);
    border: 2px solid black;
}




